<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>try ecpay</title>
    <style>
        .css01{
            font-size: 200%;
        }
    </style>
</head>
<body>
    <legend style="display: flex; justify-content: center;">
        <fieldset>測試Ecpay
        <!-- <form action="https://payment.ecpay.com.tw/Cashier/AioCheckOut/V5" method="POST" enctype="application/x-www-form-urlencoded"> -->
        <form action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="POST" enctype="application/x-www-form-urlencoded">
        
        
            <div><input class="css01" type="text" name="MerchantID"  value="2000132">(1) 特店編號(MerchantID)</div>
            <div><input class="css01" type="text" name="MerchandiseTradeNo" value="ecPay1234">(2) 特店交易編號(MerchandiseTradeNo)</div>
            <div><input class="css01" type="text" name="MerchandiseTradeDate"  value="2012/03/21 15:40:18">(3) 特店交易時間(MerchandiseTradeDate)</div>
            <div><input class="css01" type="text" name="PaymentType" value="aio" readonly>(4) 交易類型(PaymentType) 【固定值aio】</div>
            <div><input class="css01" type="text" name="TotalAmount" value="5000">(5) 交易金額(TotalAmount)</div>
            <div><input class="css01" type="text" name="TradeDesc" value="studiehub the best">(6) 交易描述(TradeDesc) 【不能帶特殊字元】</div>
            <div><input class="css01" type="text" name="ItemName" value="手機20元X2#隨身碟60元X1">(7) 商品名稱(ItemName)</div>
            <div><input class="css01" type="url" name="ReturnURL" value="http://your.web.site/receive.php">(8) 付款完成通知回傳網址(ReturnURL)</div>
            <div><input class="css01" type="text" name="ChoosePayment" value="Credit">(9) 選擇預設付款方式(ChoosePayment)</div>
            <div> Credit✔, WebATM, ATM, CVS(超商代碼), BARCODE(超商條碼), ALL(不指定付款方式，由綠界顯示付款方式選擇頁面)</div>
            <option value=""></option>
            <div><input class="css01" type="text" name="CheckMacValue" value="??">(10) 檢查碼(CheckMacValue)</div>
            <div><input class="css01" type="text" name="EncryptType" value="1" readonly >(11) CheckMacValue加密類型(EncryptType) 【固定填入1以使用SHA256加密】</div>

            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
    
        </form>
    </fieldset>
    </legend>    
</body>
</html>