<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id='aa' class="modal" style="border-width: 3px;">
        <p  style="border-width: 3px;"> A dialog! </p>
    </div>

    <hr>
    <hr>
    <hr>


    <script src="../../../../resources/static/assets/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function(){

            $(document).one('click', function(){
                console.log('yes!');
                $('#aa').dialog();
            })



        })

    </script>
</body>
</html>